version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: chat-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: chat-jaeger
    restart: always
    ports:
      - "16686:16686"
      - "4318:4318"
    environment:
      - COLLECTOR_OTLP_ENABLED=true

volumes:
  mongo_data: